.card{

  border-radius: 10px;
  background: #65A1AA;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  max-width: 300px;
  min-height: 100%;

  margin: 40px 30px;
  padding: 20px 15px;  
}


.imgBx{
  width: 260px;
  height: 260px;
  border-radius: 10px;
}

.cardImg{
  max-width: 100%;
  border-radius: 10px;
}

.content{
  text-align: center;
  color: #2f2f2f;
  margin-top: 10px;
}

.title{
  min-width: 100%;
  color: #fff;
  font-size: 22px;
}
