.card{

  border-radius: 10px;
  background: #65A1AA;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  max-width: 300px;
  height: 420px;

  margin: 40px 30px;

  padding: 20px 15px;  
}


.imgBx{
  width: 260px;
  height: 260px;
  border-radius: 10px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.cardImg{
  max-width: 100%;
  border-radius: 10px;
}

.content{
  text-align: center;
  color: #111;
  margin-top: 10px;
  width: 250px;
}

.title{

}

.description{
  width: 250px;
  font-size: 14px;
  text-align: center;
}