.divider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top{
  margin-top: 50px;
}

.bottom{
  margin-bottom: 200px;
}

.icon {
  height: 80px;
}

.title {
  color: #225d62;
}
