.nav{
    background: none;
    position: relative;
}

.togglerButton{
    box-shadow: 0 0 5px 0 rgb(222, 222, 222);
    background-color: #f2f2f2;
}

.linkContainer{
    margin:0;
    padding:0;
    text-align:center;
}

.link{
    text-decoration: none;
    width: 100%;
    margin: 10px;
    color: #000;
}


.link:hover{
    color: #838383;
}

p{
    font-size: 18px;
    padding: 0;
}


@media screen and (max-width: 990px) {
  .nav, .container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
  }
}