.search{
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgb(152, 152, 152);
  background: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.icon{
  color: #6a6a6a;
  margin-right: 5px;
  min-height: 16px;
  min-width: 16px;
}
.searchInput {
  width: 1000px;
  height: 50px;
  outline: none;
  border: none;
  background: #f2f2f2;
  color: #171717;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.search:hover {
  cursor: text;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

